:root {
	/* Custom Text */
  --tag: var(--base0C );
  --tag-visited: var(--base0C );
}

.mainpro {
  padding: 1rem;
}

.mainpro h1 {
  font-size: 1.4rem;
}

.mainpro article {
  margin: 1rem 0;
  border-left: 4px solid var(--base08);
  padding-left: 1rem;
}

.extrapro {
  padding: 1rem;
}

.extrapro summary {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.extrapro article {
  margin: 1rem 0;
  border-left: 4px solid;
  padding-left: 1rem;
}

a.tag {
  color: var(--tag);
  font-style: italic;          
  font-size: 0.85em;           
  text-decoration: none;       
}

a.tag:visited {
  color: var(--tag-visited);
}

a.tag:hover {
  color: var(--hover);
  text-decoration: underline;
}

