:root {
	/* Custom Text */
  --tag: var(--base0C );
  --tag-visited: var(--base0C );
}

a.tag {
  color: var(--tag);
  font-style: italic;          
  font-size: 0.85em;           /* or adjust to taste (e.g., 0.9em, 14px, etc.) */
  text-decoration: none;       
}

a.tag:visited {
  color: var(--tag-visited);
}

a.tag:hover {
  color: var(--hover);
  text-decoration: underline;
}
