<table
  style="
    width: 100%;
    border-collapse: collapse;
    background-color: var(--inner-bg);
    color: var(--fg);
  "
>
  <tbody>
    {{ range .Site.Data.HighlightProjects }}
    <tr
      style="
        background-color: var(--inner-bg);
        transition: background-color 0.2s;
        cursor: pointer;
      "
      onmouseover="this.style.backgroundColor='var(--muted)'"
      onmouseout="this.style.backgroundColor='var(--inner-bg)'"
      onclick="window.location='/portfolio/projects/{{ .apptitle | urlize | lower }}/'"
    >
      <!-- Image Column -->
      <td style="padding: 1em; width: 18%; vertical-align: middle">
        <img
          src="{{ .image }}"
          alt="{{ .displaytitle }}"
          style="
            width: 100%;
            max-width: 8em;
            aspect-ratio: 1/1;
            object-fit: cover;
            border: 0.1em solid var(--inner-bg);
          "
        />
      </td>

      <!-- Title & Description Column -->
      <td style="padding: 1em; width: 82%; vertical-align: middle">
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: normal;
              font-weight: bold;
              color: var(--link);
              margin-bottom: 0.5em;
            "
          >
            <span>{{ .displaytitle }}</span>
            <span
              style="
                font-style: italic;
                font-size: smaller;
                color: var(--off-fg);
              "
            >
              {{ .type }}
            </span>
          </div>
          <p
            style="
              margin: 0;
              color: var(--off-fg);
              font-size: normal;
              line-height: 1.5em;
              max-width: 40em;
            "
          >
            {{ .description }}
          </p>
        </div>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
