<table
  style="
    width: 100%;
    border-collapse: collapse;
    border: 0.1em solid var(--inner-bg);
  "
>
  <tbody>
    {{ range .Site.Data.HighlightProjects }}
    <tr style="border-bottom: 0.1em solid var(--inner-bg)">
      <!-- Image + Title Column -->
      <td
        style="
          padding: 1em;
          text-align: center;
          border-right: 0.1em solid var(--inner-bg);
          width: auto;
          word-wrap: normal; /* Allow words to break if too long */
          white-space: normal; /* Allow text to wrap */
        "
      >
        <a
          href="/projects/{{ .apptitle | urlize | lower }}/"
          style="text-decoration: none; display: block; word-wrap: normal"
        >
          <img
            src="{{ .image }}"
            alt="{{ .displaytitle }}"
            style="
              width: 80%;
              max-width: 8em;
              aspect-ratio: 1/1;
              object-fit: cover;
              border: 0.1em solid var(--inner-bg);
            "
          />
          <p
            style="
              margin: 0.5em 0 0;
              font-weight: bold;
              word-wrap: normal; /* Allow words to break and wrap */
              white-space: normal; /* Allow text to wrap within the element */
            "
          >
            {{ .displaytitle }}
          </p>
        </a>
      </td>

      <!-- Description Column -->
      <td style="padding: 1em; text-align: left; vertical-align: middle">
        <p style="max-width: 40em; line-height: 1.5em">{{ .description }}</p>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
