<div
  id="webgl-viewer-container"
  style="
    width: 100%;
    aspect-ratio: 16/9;
    margin: 2em 0;
    background-color: var(--off-bg);
    border-radius: 0.5em;
  "
>
  <canvas id="webgl-canvas" style="width: 100%; height: 100%"></canvas>
</div>

<script src="/js/webgl-viewer/webgl-utils.js"></script>
<script src="/js/webgl-viewer/webgl-debug.js"></script>
<script src="/js/webgl-viewer/cuon-utils.js"></script>
<script src="/js/webgl-viewer/cuon-matrix.js"></script>
<script src="/js/webgl-viewer/main.js"></script>
