<details>
  <summary>Controls</summary>
  <table style="margin-top: 1em">
    <tr>
      <td>Translate X and Y:</td>
      <td>Left click + mouse</td>
    </tr>
    <tr>
      <td>Rotate Z and X:</td>
      <td>Right click + mouse</td>
    </tr>
    <tr>
      <td>Translate Z:</td>
      <td>Up + Down keys</td>
    </tr>
    <tr>
      <td>Rotate Y:</td>
      <td>Right + Left keys</td>
    </tr>
    <tr>
      <td>Reset location:</td>
      <td>R</td>
    </tr>
    <tr>
      <td>Pause point light:</td>
      <td>P</td>
    </tr>
    <tr>
      <td>Pause spotlight:</td>
      <td>S</td>
    </tr>
  </table>
</details>
